.modal-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

::ng-deep .mat-dialog-container {
    box-shadow: none;
    border: none;
    padding: 0px;
    color: #000;
}

::ng-deep .mat-dialog-title,
::ng-deep .mat-dialog-content,
::ng-deep .mat-dialog-actions button {
    color: #000;
}