<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40px" alt="IMDB Logo"
    src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/171_Imdb_logo_logos-512.png" />
  <app-search-movies></app-search-movies>
</div>
<div class="content" role="main">
  <h1>Popular Movies</h1>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="movie">movie</mat-icon>

  <div *ngIf="isLoading" class="loading-container spinner spinner-color">
    <mat-spinner></mat-spinner>
  </div>
  <div class="card-container">
    <div *ngIf="!isLoading && popularMovies?.length > 0" class="card-container">
      <mat-card *ngFor="let movie of popularMovies?.slice(0, 8)" class="card" appearance="outlined">
        <img mat-card-image [src]="movie.title.primaryImage.imageUrl">
        <mat-card-content>
          <h3 class="text_center">{{ movie.title.titleText.text }}</h3>
          <p class="text_center">{{ movie.title.releaseYear.year }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <p *ngIf="!isLoading && popularMovies?.length === 0"></p>
</div>

<router-outlet></router-outlet>