<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-icon-button (click)="onLogoClick()">
    <img class="logo-img" alt="IMDB Logo"
      src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/171_Imdb_logo_logos-512.png" />
  </button>
  <div class="search-input">
    <app-search-movies (searchResult)="onSearchResult($event)"></app-search-movies>
  </div>

</div>
<div class="content" role="main">
  <div *ngIf="isLoading" class="loading-container spinner spinner-color">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="spacer">
    <button mat-icon-button class="add-button" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>

  </div>
  <div class="card-container">
    <div *ngIf="!isLoading && popularMovies?.length > 0" class="card-container">
      <mat-card *ngFor="let movie of popularMovies?.slice(0, 9)" class="card" appearance="outlined">
        <div class="card-image-container">
          <img mat-card-image [src]="movie.img">
        </div>
        <mat-card-content class="card-content">
          <h3 class="text_center">{{ movie.title }}</h3>
          <p class="text_center">{{ movie.year }}</p>
          <div class="icon-container">
            <button mat-icon-button (click)="onEdit(movie.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(movie.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <footer *ngIf="!isLoading && popularMovies?.length > 0">
    Author&nbsp;
    <a href="https://github.com/vzepec/angular-project/tree/master" target="_blank" rel="noopener"> Victor Z.
    </a>
  </footer>
</div>

<router-outlet></router-outlet>